* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: linear-gradient(#000 10em, #333) fixed;
	height: 100%;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 100%;
	color: #eee;
}

h1 {
	color: black;
	font-size: 2em;
	padding-bottom: 1.5em;
	text-shadow:
		0 .125em .25em #f00,
		0 .25em .5em #f90,
		0 .375em .75em #ff0,
		0 .5em 0 #000;
}

p {
	margin-bottom: 1em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 2em;
}

th,
td {
	border-top: 1px solid #444;
	padding: .25em .75em;
	text-align: left;
}

th {
	vertical-align: bottom;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

thead th,
thead td {
	border-width: 2px;
	padding-top: 1em;
	padding-bottom: 1em;
}

tr:nth-child(even) td {
	background-color: rgba(255, 255, 255, .05);
}

.page-top {
	background: linear-gradient(#333, #000 70%);
	overflow: hidden;
	padding: 1.5em 1em;
	text-align: center;
}

.main-nav {
	background-color: #555;
	border-top: 1px solid #0f0;
	border-bottom: 1px solid #0f0;
	box-shadow: 0 0 1em black inset;
	margin: 0 -2em;
	padding: 1em;
}

.main-nav ul {
	display: flex;
	justify-content: center;
}

.main-nav li {
	float: left;
	list-style: none;
	margin-right: 1px;
	overflow: hidden;
}

.main-nav li:first-child a {
	border-radius: .5em 0 0 .5em;
}

.main-nav li:last-child a {
	border-radius: 0 .5em .5em 0;
	margin-right: 0;
}

.main-nav a {
	background-color: #0f0;
	color: black;
	display: block;
	padding: .5em 1em;
	text-decoration: none;
}

.content {
	margin: auto;
	max-width: 60em;
	padding: 1em;
}

.my-clash {
	overflow: hidden;
	padding-bottom: .5em;
}

.my-clash dt,
.my-clash dd {
	float: left;
}

.my-clash dt {
	margin-right: .5em;
}

.my-clash dd {
	font-weight: bold;
	margin-right: 1.5em;
}

.my-clash dd:last-child {
	margin-right: 0;
}

.deck-table {
	margin-top: 2em;
}

.deck-icon-cell {
	width: 3em;
}

.deck-icon {
	transition: transform .125s;
}

.deck-level {
	text-align: right;
}

.deck-table tr:hover .deck-icon {
	transform: scale(3) translateX(.7em);
	transition: transform .25s;
}
