::-moz-selection {
    background: #000;
    color: #f93;
}
::selection {
    background: #000;
    color: #f93;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #fffaf6;
}

body {
    color: #333;
    display: grid;
    font-size: 1em;
    grid-template-columns: 0.5em auto 0.5em;
    font-family: sans-serif;
}

body > * {
    grid-column: 2;
    min-width: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.page-title {
    background-image: linear-gradient(175deg, #ff0, #f00);
    color: white;
    font-size: 1.5em;
    grid-column: 1 / -1;
    margin-bottom: 1px;
    padding: 0.65em 0.75em 0.75em;
    position: relative;
    text-align: center;
    text-shadow: 0 0 1px #f00, 0 0.125em 0.25em #f00, 0 0.25em 0.5em #f90, 0 0.375em 0.75em #ff0;
    text-transform: uppercase;
}

.page-title::before,
.page-title::after {
    background-image: linear-gradient(to right, #f00, #ff0);
    border-top: 1px solid white;
    bottom: 0;
    content: '';
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
.page-title::before {
    border-top: 0;
    border-bottom: 1px solid white;
    bottom: auto;
    top: 0;
}

.nav {
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    justify-content: center;
    margin-bottom: 2em;
    padding: 0.5em;
    text-align: center;
}

.nav__item {
    background-color: #06c;
    border: 0;
    color: white;
    display: block;
    font-size: inherit;
    margin: 0.5px;
    outline: none;
    padding: 0.75em 0.5em;
    white-space: nowrap;
    width: calc(50% - 1px);
}
.nav__item:nth-child(1) {
    border-top-left-radius: 0.5em;
}
.nav__item:nth-child(2) {
    border-top-right-radius: 0.5em;
}
.nav__item:nth-child(5) {
    border-bottom-left-radius: 0.5em;
}
.nav__item:nth-child(6) {
    border-bottom-right-radius: 0.5em;
}

.nav__item.active {
    background-color: #09f;
    text-shadow: 0 0 0.5em black;
}

.user {
    font-size: 1.5em;
    font-weight: bold;
    min-height: 3.25em;
    padding: 1em 0;
    text-align: center;
}

.data {
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}

.data.narrow {
    max-width: 35em;
}

.data.wide {
    max-width: 100em;
}

table {
    border-collapse: collapse;
    margin: auto auto 5em;
    width: 100%;
}

table table {
    margin-bottom: 0;
}

tbody {
    display: table;
    margin-bottom: 1em;
}
tbody:nth-child(2n) {
    background-color: white;
}
tbody:nth-child(2n) tr:first-child th,
tbody:nth-child(2n) tr:first-child td {
    background-color: #e6ffe6;
}
tbody:nth-child(2n + 1) {
    background-color: #f6f6f6;
}
tbody:nth-child(2n + 1) tr:first-child th,
tbody:nth-child(2n + 1) tr:first-child td {
    background-color: #e6e6ff;
}

th,
td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

th {
    font-size: 0.875em;
    hyphens: auto;
    padding: 0.5714em;
    width: 6em;
    word-break: break-word;
}

td img {
    max-width: 4em;
    transition: transform 0.25s;
}

td img:hover {
    transform: scale(3);
}

td.have-children {
    padding: 0;
}

.have-children table {
    width: 100%;
}

.have-children tr:first-child th,
.have-children tr:first-child td {
    border-top: 0;
}

.have-children tr:last-child th,
.have-children tr:last-child td {
    border-bottom: 0;
}

.have-children th {
    border-left: 0;
}

.have-children td {
    border-right: 0;
}

@media (min-width: 30em) {
    body {
        grid-template-columns: 3vw auto 3vw;
    }

    th {
        width: 8em;
    }

    .page-title {
        font-size: 2em;
    }

    .nav__item:nth-child(n) {
        border-radius: 0;
        width: calc(33.333333% - 1px);
    }
    .nav__item:nth-child(1) {
        border-top-left-radius: 0.5em;
    }
    .nav__item:nth-child(3) {
        border-top-right-radius: 0.5em;
    }
    .nav__item:nth-child(4) {
        border-bottom-left-radius: 0.5em;
    }
    .nav__item:nth-child(6) {
        border-bottom-right-radius: 0.5em;
    }
}

@media (min-width: 40em) {
    th {
        width: 9em;
    }

    .nav__item:nth-child(n) {
        border-radius: 0;
        padding: 0.75em 1em;
        width: auto;
    }
    .nav__item:nth-child(1) {
        border-radius: 0.5em 0 0 0.5em;
    }
    .nav__item:nth-child(6) {
        border-radius: 0 0.5em 0.5em 0;
    }

    .data.wide table {
        display: flex;
        flex-wrap: wrap;
    }
    .data.wide tbody {
        flex: 1;
        flex-basis: 22em;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
}
